{% extends 'bootstrap/base.html' %}


{% block title %}
	Information
{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
  <a class="navbar-brand" href="#">ECC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="navbar-nav">
  	<li class="nav-item">
  		<a href="/made" class="nav-link">Previous</a>
  	</li>
  	<li class="nav-item">
  		<a href="/curve" class="nav-link">New Curve</a>
  	</li>
    </ul>
  </div>
</nav>
{% endblock navbar %}


{% block content %}
	<div class="container bg-light">
		<h1 class="display-4 bg-dark text-light text-center mt-2">
			y<sup>2</sup> mod({{params["p"]}}) = (x<sup>3</sup> + ({{params["a"]}})x + ({{params["b"]}})) mod({{params["p"]}})
		</h1>
		<br>
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-5">
				<img src="{{url_for('cy.static',filename=params['image'])}}">
			</div>
		</div>

		<br>
		<div class="text-primary">
			Five best generator points for this curve are
		</div>
		<ul class="list-group">
			{% for i in params['generators'] %}
				<li class="list-group-item list-group-item-action">{{i}}</li>
			{% endfor %}
		</ul>
		<br>
		<p class="text-primary">
			Average times a point appears is {{params['avgStd'][0]}} with a standard
			deviation of {{params['avgStd'][1]}}
		</p>
	</div>
{% endblock content %}
